/* Base */
/* -------------------------------------------- */
html {
    scroll-padding: 4rem;
    scroll-behavior: smooth;
}

/* -------------------------------------------- */
/* Typography */
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.5;
}

h1 {
    font-size: clamp(2.5rem, 10vw, 5rem);
    text-transform: uppercase;
}

/* -------------------------------------------- */
/* Links */
a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    color: #fff;
}

/* -------------------------------------------- */
/* Layout */
main {
    /* max-width: 68.75rem; */
    margin: 0 auto;
}

/* -------------------------------------------- */
/* Components */
/* --------------------------------- */
/* Header */
.site-header {
    background-color: #13137e;
    height: 4rem;
    padding: 0 1.5rem;
    position: sticky;
    top: 0;
    box-shadow: #333 1px 1px 5px 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.site-logo {
    width: 4rem;
    height: 4rem;
}

.site-nav {
    background-color: #13137e;
    line-height: 0;
}

#nav-toggle {
    background: none;
    border: none;
    height: 1.5rem;
}

#nav-toggle path {
	fill: #ffffff;
}

#site-nav-list {
    background-color: #121a8bd4;
    line-height: 2.3;
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
}

#site-nav-list.toggled {
    display: block;
    position: fixed;
    right: 0;
    top: 4rem;
}

#site-nav-list li {
    padding: .5rem 2rem;
}

#site-nav-list li:hover {
    background-color: #1821a1;
}



/* --------------------------------- */
/* Main */
.page-header {
    position: relative;
}

.page-header img {
    /* max-height: 10rem; */
}

.page-header h1 {
    color: #fff;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.page-content {
    padding: 0 1rem;
    max-width: 68.75rem;
    margin-left: auto;
    margin-right: auto;
}

.page-content section {
    width: fit-content;
    max-width: 100%;
    margin: 0 auto 3rem;
}

/* --------------------------------- */
/* Footer */
.site-footer {
    background-color: #eee;
    color: #000;
    font-size: 1rem;
    padding: 2rem;
}

.site-footer p {
    margin: 0;
}

/* -------------------------------------------- */
/* Page specific */
/* -------------------------------------------- */
/* Home */
section {
    margin-bottom: 3rem;
}

.cards {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

article {
    height: 100%;
    position: relative;
}

article img {
    display: block;
    height: 100%;
    object-fit: cover;
}

article h3,
article blockquote {
    margin: 0;
    position: absolute;
}

article blockquote p {
    margin-bottom: .5rem;
}

article h3 {
    font-size: clamp(1.2rem, 5vw, 5rem);
    top: 1.5rem;
    left: 2rem;
}

article blockquote {
    width: clamp(8rem, 50vw, 20rem);
    font-size: clamp(1rem, 5vw, 4rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-wildlife {
    color: #000;
}
.card-credits {
    background-color: #13137e;
}

.card:hover {
    box-shadow: #aaa 2px 2px 2px 1px;
}

@media(min-width: 43.75em) {
    .cards {
        grid-template-rows: auto;
        grid-template-columns: repeat(3, 1fr);
    }

    article h3 {
        font-size: clamp(1rem, 2.5vw, 2rem);
        top: clamp(1rem, 2vw, 1.5rem);
    }

    article blockquote {
        font-size: clamp(1rem, 2vw, 1.5rem);
        width: clamp(8rem, 20vw, 15rem);
    }
}

/* --------------------------------- */
/* Culture */
.culture-table {
    font-size: 1rem;
    overflow: scroll;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

table,
th,
td {
    border: #000 1px solid;
    border-collapse: collapse;
    padding: .5rem;
}

table {
    
}

td {
    vertical-align: top;
}

td ul {
    padding-left: 1.5rem;
}

/* --------------------------------- */
/* Wildlife */


/* -------------------------------------------- */