/* General */
/* -------------------------------------------- */
/* Typography */
html {
    scroll-padding: 4rem;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.5;
}


/* -------------------------------------------- */
/* Elements */


/* -------------------------------------------- */
/* Links */
a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    color: #fff;
}


/* -------------------------------------------- */
/* Components */
/* --------------------------------- */
/* Header */
.site-header {
    background-color: #13137e;
    height: 4rem;
    padding: 0 1.5rem;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.site-logo {
    width: 4rem;
    height: 4rem;
}

.site-nav {
    background-color: #13137e;
    line-height: 0;
}

#nav-toggle {
    background: none;
    border: none;
    height: 1.5rem;
}

#nav-toggle path {
	fill: #ffffff;
}

#site-nav-list {
    background-color: #121a8bd4;
    line-height: 2.3;
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
}

#site-nav-list.toggled {
    display: block;
    position: fixed;
    right: 0;
    top: 4rem;
}

#site-nav-list li {
    padding: .5rem 2rem;
}

#site-nav-list li:hover {
    background-color: #1821a1;
}



/* --------------------------------- */
/* Main */
.page-header {
    position: relative;
}

.page-header h1 {
    color: #fff;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.page-content {
    padding: 0 1rem;
}

/* --------------------------------- */
/* Footer */
.site-footer {
    background-color: #eee;
    color: #000;
    font-size: 1rem;
    padding: 2rem;
}

.site-footer p {
    margin: 0;
}

/* -------------------------------------------- */
/* Page specific */
/* -------------------------------------------- */



/* --------------------------------- */
/* Wildlife */
th {
    
}

/* -------------------------------------------- */